@keyframes eye-spin {
    0% {
      transform: translate(-50%, -50%) scale(1);
    }
    25% {
      transform: translate(-50%, -50%) scale(1.2);
    }
    50% {
      transform: translate(-50%, -50%) scale(1.2) rotateX(90deg) ;
    }
    55% {
      transform: translate(-50%, -50%) scale(1.2) rotateX(90deg);
    }
    75% {
      transform: translate(-50%, -50%) scale(1.2);
    }
    100% {
      transform: translate(-50%, -50%) scale(1) ;
    }
}