.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none;
  align-items: center;
  justify-content: center;

    .lightbox__close {
      position: absolute;
      top: 30px;
      right: 20px;
      background: none;
      border: none;
      color: white;
      font-size: 2rem;
      cursor: pointer;
      z-index: 10;
    }

    .lightbox__overlay {
      position: absolute;
      width: 100%; 
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      }

    .lightbox__content {
      position: relative;
      max-width: 90%;
      max-height: 90%;
      z-index: 10000;
      color: #fff;
      text-align: center;

        .lightbox__img-container {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;

            .lightbox__img {
              max-height: 85vh;
              display: block;
            }

            .lightbox__prev,
            .lightbox__next {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              color: #fff;
              border: none;
              font-size: 2rem;
              padding: 0.5rem 1rem;
              cursor: pointer;
              background: transparent;
              font-size: 15px;
              font-family: 'SpaceMono-Regular';
              text-transform: uppercase;
            }

            .lightbox__prev {
              left: -150px;
            }
            
            .lightbox__next {
              right: -140px;
            }
        }

        .lightbox__caption {
          margin-top: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;

            .lightbox__info {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;

                .lightbox__ref,
                .lightbox__cat {
                  font-weight: 500;
                  text-transform: uppercase;
                }
            }
            
            .lightbox__nav button {
              background: none;
              border: none;
              color: white;
              font-size: 2rem;
              cursor: pointer;
              position: absolute;
            }
        }
    }
}

//  hover photos // 

.photo-block {
  height: 90%;
}

.container-photo-block {
  position: relative;
  display: inline-block;

  .photo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4); 
    opacity: 0;
    transition: opacity 0.3s;

    .btn-lightbox {
      position: absolute;
      top: 10px;
      right: 10px;
      background: transparent;
      border: none;
      cursor: pointer;

      .btn-fullscreen {
        width: 34px !important;
        height: 34px !important;
        transition: transform 1s ease;

        &:hover {
          transform:  rotate(360deg); 
        }
      }

      
    }

    .photo-title-vision {
      position: absolute;
      bottom: 10px;
      left: 10px;
      color: #fff;
      text-transform: uppercase;
    }

    .photo-cat {
      position: absolute;
      bottom: 10px;
      right: 10px;
      color: #fff;
      text-transform: uppercase;
    }

    .photo-eye {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transform-origin: center;
      transition: transform 1s ease;

      &:hover {
        animation: eye-spin 1s forwards;
      }

      img {
        width: 46px !important;
        height: auto !important;
      }
    }
  }
}

.container-photo-block:hover .photo-overlay {
  opacity: 1;
}























